<h2 mat-dialog-title>About</h2>
<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <button mat-stroked-buttom color="primary">
      <a href="https://github.com/daniellcc/crud-employees-mean" target="_blank">Github</a>
    </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <button mat-stroked-buttom color="primary">
        <a href="http://danielccardona.my-board.org/" target="_blank">Portafolio</a>
      </button>
      
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <p>By Daniel C. Cardona</p>
    </mat-list-item>
  </mat-list>
</div>