<nav class="navbar navbar-light">
  <h1 class="navbar-brand font-weight-light" [routerLink]="['/employees']">
  		<a>DB Employees</a> 
	</h1>

  
  <button class="btn btn-dark m-0" data-toggle="collapse" data-target="#collapseAbout"
   role="button" aria-expanded="false" aria-controls="collapseAbout">
  	<small class="font-weight-normal">About</small>
  </button>

  <div class="collapse" id="collapseAbout" style="width: 100%">
    <div class="card card-body text-center">
      <p>Developed by Daniel C. Cardona</p>
      <a class="btn btn-primary btn-small" href="https://github.com/daniellcc"
         target="_blank">
        Github
      </a>
    </div>
  </div>
</nav>