<div class="d-flex justify-content-between mb-2" style="padding: 0 12px;">
	<h5> Employees </h5>

	<i class="material-icons pl-2" data-target="#createEmp" data-toggle="modal"> person_add </i>

	<div class="modal fade" id="createEmp" role="dialog"> <!---  CREATE EMPLOYEE MODAL  -->
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create employee</h5>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control"  name="name" placeholder="name" required 
									[(ngModel)]="newEmp.name">
							
					<input type="text" class="form-control mt-3" name="job" placeholder="job" required
									[(ngModel)]="newEmp.job">
							
					<input type="email" class="form-control mt-3" name="email" placeholder="email" required
									[(ngModel)]="newEmp.email">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success"  data-dismiss="modal" (click)="addEmployee()">Create</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="d-flex justify-content-around mb-3" style="padding-left: 12px;">
	<input type="text" class="form-control" placeholder="name"
					[(ngModel)]="searchValue">
	
	<button class="btn btn-raised btn-sm mx-2" type="submit"
					(click)="searchEmp()">
		Search
	</button>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Job</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let employee of employees" [routerLink]="['emp', employee._id]"
			 style="cursor: pointer">
			<td>{{ employee.name | titlecase }}</td>
			<td>{{ employee.job | titlecase }}</td>
		</tr>
	</tbody>
</table>


<router-outlet></router-outlet>