<nav>
	<mat-toolbar>
		<mat-toolbar-row>
			<header>
				<h2>
					<mat-card-header> Employees list </mat-card-header>
				</h2>
			</header>

			<button mat-button (click)="openAdd()">
				<i class="material-icons"> person_add </i>
			</button>
		</mat-toolbar-row>

		<mat-toolbar-row>
			<mat-form-field appearance="legacy" class="search-form">
				<input  matInput placeholder="search employee">
			</mat-form-field>
			<button mat-stroked-button>Search</button>
		</mat-toolbar-row>
		
	</mat-toolbar>
</nav>

<app-employees-table></app-employees-table>

<router-outlet></router-outlet>