<nav>
	<mat-toolbar>
		<mat-toolbar-row>
			<header>
				<h2>Employees list</h2>
			</header>

			<button mat-icon-button (click)="openAdd()">
				<mat-icon>person_add</mat-icon>
			</button>
		</mat-toolbar-row>

		<mat-toolbar-row>
			<mat-form-field appearance="legacy" class="search-form">
				<input  matInput placeholder="search employee">
			</mat-form-field>
			<button mat-icon-button>
				<mat-icon>search</mat-icon>
			</button>
		</mat-toolbar-row>
		
	</mat-toolbar>
</nav>

<app-employees-table></app-employees-table>

<router-outlet></router-outlet>